In [24]:
import pandas as pd
from ast import literal_eval

df = pd.read_csv('../zippedData/merged_data.csv')
df2 = pd.read_parquet('../zippedData/merged_data.parquet')
df2.explode('writer')

,title,ROI,profit,prod_budget,dom_gross,world_gross,genres,director,writer,runtime_min,release_date
0,10 000 b c,156.253027,164065678,105000000,94784201,269065678,[None],[None],None,NaN,2008-03-07
1,10 cloverfield lane,2065.728440,103286422,5000000,72082999,108286422,"[Thriller, Sci-Fi, Mystery, Drama, Horror]",[Dan Trachtenberg],Damien Chazelle,103.0,2016-03-11
1,10 cloverfield lane,2065.728440,103286422,5000000,72082999,108286422,"[Thriller, Sci-Fi, Mystery, Drama, Horror]",[Dan Trachtenberg],Matthew Stuecken,103.0,2016-03-11
1,10 cloverfield lane,2065.728440,103286422,5000000,72082999,108286422,"[Thriller, Sci-Fi, Mystery, Drama, Horror]",[Dan Trachtenberg],Josh Campbell,103.0,2016-03-11
2,10 days in a madhouse,-99.878200,-11985384,12000000,14616,14616,"[Drama, None]",[Timothy Hines],Timothy Hines,111.0,2015-11-11
...,...,...,...,...,...,...,...,...,...,...,...
5694,zulu,-88.473575,-14155772,16000000,0,1844228,"[Thriller, Crime, Drama, None]",[Jérôme Salle],Caryl Ferey,110.0,2013-12-31
5694,zulu,-88.473575,-14155772,16000000,0,1844228,"[Thriller, Crime, Drama, None]",[Jérôme Salle],Jérôme Salle,110.0,2013-12-31
5695,zwartboek,23.810700,5238354,22000000,4398532,27238354,[None],[None],None,NaN,2007-04-06
5696,ã l intã rieur,-70.135600,-2104068,3000000,0,895932,[None],[None],None,NaN,2008-04-15
5697,é æ ä è cj7,136.503855,27300771,20000000,206678,47300771,[None],[None],None,NaN,2008-03-07

In [2]:
#df.genres = df.genres.apply(literal_eval)

In [3]:
#df.director.replace('[nan]', 'no director', inplace=True)

In [13]:
df.director = df.director.apply(literal_eval())

TypeError: literal_eval() missing 1 required positional argument: 'node_or_string'

TypeError: data type "list" not understood