In [25]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../zippedData/merged_data.csv')
df.drop('Unnamed: 0', axis = 1, inplace=True)

In [9]:
df['ROI'] = df['ROI'] * 100

In [21]:
df.groupby(df['director']).median().sort_values('ROI', ascending = False).head(25)

,profit,prod_budget,dom_gross,world_gross,runtime_min,ROI
director,,,,,,
Chris Lofing,41556474.0,100000.0,22764410.0,41656474.0,81.0,41556.474000
Travis Cluff,41556474.0,100000.0,22764410.0,41656474.0,81.0,41556.474000
William Brent Bell,100759490.0,1000000.0,53262945.0,101759490.0,83.0,10075.949000
Tod Williams,174512032.0,3000000.0,84752907.0,177512032.0,91.0,5817.067733
Bradley Parker,41411721.0,1000000.0,18119640.0,42411721.0,86.0,4141.172100
Jordan Peele,242289130.5,12500000.0,175523797.5,254789130.5,110.0,3089.205285
Nitesh Tiwari,285154618.0,9500000.0,12391761.0,294654618.0,161.0,3001.627558
Henry Joost,137817992.0,5000000.0,53900335.0,142817992.0,88.0,2756.359840
Ariel Schulman,137817992.0,5000000.0,53900335.0,142817992.0,88.0,2756.359840
Jeff Wadlow,91627344.0,3500000.0,41411015.0,95127344.0,100.0,2617.924114
Josh Boone,295166834.0,12000000.0,124872350.0,307166834.0,126.0,2459.723617
Barry Jenkins,35802339.5,6750000.0,21385352.0,42552339.5,115.0,2157.596929
Dan Trachtenberg,103286422.0,5000000.0,72082999.0,108286422.0,103.0,2065.728440
Alex Kendrick,52080561.5,2500000.0,51156169.0,54580561.5,124.5,2012.567750
John R. Leonetti,130920132.5,9250000.0,49287659.0,140170132.5,94.5,1973.690886
Stiles White,98300632.0,5000000.0,50856010.0,103300632.0,89.0,1966.012640
Andy Muschietti,662457969.0,35000000.0,327481748.0,697457969.0,135.0,1892.737054
John Krasinski,317522294.0,17000000.0,188024361.0,334522294.0,90.0,1867.778200
Adam Robitel,157885588.0,10000000.0,67745330.0,167885588.0,103.0,1578.855880
Derek Cianfrance,15566240.0,1000000.0,9737892.0,16566240.0,112.0,1556.624000
Stephen Susco,15434588.0,1000000.0,8866745.0,16434588.0,92.0,1543.458800
Stephen Chbosky,284604712.0,20000000.0,132422809.0,304604712.0,113.0,1423.023560
Morten Tyldum,212740463.0,15000000.0,91125143.0,227740463.0,114.0,1418.269753
Drake Doremus,3478400.0,250000.0,3395391.0,3728400.0,86.0,1391.360000
Sam Taylor-Johnson,530998101.0,40000000.0,166167230.0,570998101.0,125.0,1327.495252

In [18]:
df.groupby(df['writer']).median().sort_values('ROI', ascending = False).head(25)

,profit,prod_budget,dom_gross,world_gross,runtime_min,ROI
writer,,,,,,
Travis Cluff,41556474.0,100000.0,22764410.0,41656474.0,81.0,41556.474000
Chris Lofing,41556474.0,100000.0,22764410.0,41656474.0,81.0,41556.474000
Matthew Peterman,100759490.0,1000000.0,53262945.0,101759490.0,83.0,10075.949000
William Brent Bell,100759490.0,1000000.0,53262945.0,101759490.0,83.0,10075.949000
Michael R. Perry,174512032.0,3000000.0,84752907.0,177512032.0,91.0,5817.067733
Tom Pabst,174512032.0,3000000.0,84752907.0,177512032.0,91.0,5817.067733
Tarell Alvin McCraney,63745512.0,1500000.0,27854931.0,65245512.0,111.0,4249.700800
Carey Van Dyke,41411721.0,1000000.0,18119640.0,42411721.0,86.0,4141.172100
Shane Van Dyke,41411721.0,1000000.0,18119640.0,42411721.0,86.0,4141.172100
Nikhil Mehrotra,285154618.0,9500000.0,12391761.0,294654618.0,161.0,3001.627558
Piyush Gupta,285154618.0,9500000.0,12391761.0,294654618.0,161.0,3001.627558
Shreyas Jain,285154618.0,9500000.0,12391761.0,294654618.0,161.0,3001.627558
Nitesh Tiwari,285154618.0,9500000.0,12391761.0,294654618.0,161.0,3001.627558
Rajshri Sudhakar,285154618.0,9500000.0,12391761.0,294654618.0,161.0,3001.627558
David F. Sandberg,143806510.0,5000000.0,67268835.0,148806510.0,81.0,2876.130200
Christopher Landon,137817992.0,5000000.0,53900335.0,142817992.0,88.0,2756.359840
Oren Peli,137817992.0,5000000.0,53900335.0,142817992.0,88.0,2756.359840
Chad Feehan,137817992.0,5000000.0,53900335.0,142817992.0,88.0,2756.359840
Michael Reisz,91627344.0,3500000.0,41411015.0,95127344.0,100.0,2617.924114
Jillian Jacobs,91627344.0,3500000.0,41411015.0,95127344.0,100.0,2617.924114
Debra Hill,244900667.0,10000000.0,159342015.0,254900667.0,106.0,2449.006670
David Gordon Green,244900667.0,10000000.0,159342015.0,254900667.0,106.0,2449.006670
Jeff Fradley,244900667.0,10000000.0,159342015.0,254900667.0,106.0,2449.006670
Andres Heinz,318266710.0,13000000.0,106954678.0,331266710.0,108.0,2448.205462
Barry Jenkins,35802339.5,6750000.0,21385352.0,42552339.5,115.0,2157.596929

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9085 entries, 0 to 9084
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         9085 non-null   object
 1   profit        9085 non-null   float64
 2   prod_budget   9085 non-null   float64
 3   dom_gross     9085 non-null   float64
 4   world_gross   9085 non-null   float64
 5   genre_ids     3965 non-null   object
 6   genres        4818 non-null   object
 7   director      4820 non-null   object
 8   writer        4798 non-null   object
 9   runtime_min   4806 non-null   float64
 10  release_date  9085 non-null   object
 11  ROI           9085 non-null   float64
dtypes: float64(6), object(6)
memory usage: 851.8+ KB

In [22]:
genre_dictionary = [{"id":28,"name":"Action"},
                              {"id":12,"name":"Adventure"},
                              {"id":16,"name":"Animation"},
                              {"id":35,"name":"Comedy"},
                              {"id":80,"name":"Crime"},
                              {"id":99,"name":"Documentary"},
                              {"id":18,"name":"Drama"},
                              {"id":10751,"name":"Family"},
                              {"id":14,"name":"Fantasy"},
                              {"id":36,"name":"History"},
                              {"id":27,"name":"Horror"},
                              {"id":10402,"name":"Music"},
                              {"id":9648,"name":"Mystery"},
                              {"id":10749,"name":"Romance"},
                              {"id":878,"name":"Science Fiction"},
                              {"id":10770,"name":"TV Movie"},
                              {"id":53,"name":"Thriller"},
                              {"id":10752,"name":"War"},
                              {"id":37,"name":"Western"}]

In [23]:
df

,title,profit,prod_budget,dom_gross,world_gross,genre_ids,genres,director,writer,runtime_min,release_date,ROI
0,avatar,2.351345e+09,425000000.0,760507625.0,2.776345e+09,"[28, 12, 14, 878]",NaN,NaN,NaN,NaN,2009-12-18,553.257713
1,pirates of the caribbean on stranger tides,6.350639e+08,410600000.0,241063875.0,1.045664e+09,"[12, 28, 14]","Action,Adventure,Fantasy",Rob Marshall,Stuart Beattie,136.0,2011-05-20,154.667286
2,pirates of the caribbean on stranger tides,6.350639e+08,410600000.0,241063875.0,1.045664e+09,"[12, 28, 14]","Action,Adventure,Fantasy",Rob Marshall,Ted Elliott,136.0,2011-05-20,154.667286
3,pirates of the caribbean on stranger tides,6.350639e+08,410600000.0,241063875.0,1.045664e+09,"[12, 28, 14]","Action,Adventure,Fantasy",Rob Marshall,Tim Powers,136.0,2011-05-20,154.667286
4,pirates of the caribbean on stranger tides,6.350639e+08,410600000.0,241063875.0,1.045664e+09,"[12, 28, 14]","Action,Adventure,Fantasy",Rob Marshall,Terry Rossio,136.0,2011-05-20,154.667286
...,...,...,...,...,...,...,...,...,...,...,...,...
9080,red 11,-7.000000e+03,7000.0,0.0,0.000000e+00,NaN,NaN,NaN,NaN,NaN,2018-12-31,-100.000000
9081,following,2.344950e+05,6000.0,48482.0,2.404950e+05,NaN,NaN,NaN,NaN,NaN,1999-04-02,3908.250000
9082,return to the land of wonders,-3.662000e+03,5000.0,1338.0,1.338000e+03,NaN,NaN,NaN,NaN,NaN,2005-07-13,-73.240000
9083,a plague so pleasant,-1.400000e+03,1400.0,0.0,0.000000e+00,NaN,NaN,NaN,NaN,NaN,2015-09-29,-100.000000
9084,my date with drew,1.799410e+05,1100.0,181041.0,1.810410e+05,NaN,NaN,NaN,NaN,NaN,2005-08-05,16358.272727

In [26]:
df.genre_ids = df.genre_ids.str.strip('\[\]').str.replace(" ", "").str.strip().str.split(',')
df = df.explode('genre_ids')
df = df.genre_ids.replace(r'^\s*$', np.nan, regex=True)
df.genre_ids.astype('float')
def find_genre(key):
    if key is np.nan:
        return 'None'
    for dictionary in genre_dictionary:
        if dictionary['id'] == int(key):
            return dictionary['name']
    return 'None'
df.genre_ids = df.genre_ids.apply(lambda x: find_genre(x))

AttributeError: 'Series' object has no attribute 'genre_ids'