In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('../zippedData/merged_data.csv')
df.drop('Unnamed: 0', axis = 1, inplace=True)

In [8]:
df

,title,profit,prod_budget,dom_gross,world_gross,genre_ids,genres,director,writer,runtime_min,release_date
0,avatar,2.351345e+09,425000000.0,760507625.0,2.776345e+09,"[28, 12, 14, 878]",NaN,NaN,NaN,NaN,2009-12-18
1,pirates of the caribbean on stranger tides,6.350639e+08,410600000.0,241063875.0,1.045664e+09,"[12, 28, 14]","Action,Adventure,Fantasy",Rob Marshall,Stuart Beattie,136.0,2011-05-20
2,pirates of the caribbean on stranger tides,6.350639e+08,410600000.0,241063875.0,1.045664e+09,"[12, 28, 14]","Action,Adventure,Fantasy",Rob Marshall,Ted Elliott,136.0,2011-05-20
3,pirates of the caribbean on stranger tides,6.350639e+08,410600000.0,241063875.0,1.045664e+09,"[12, 28, 14]","Action,Adventure,Fantasy",Rob Marshall,Tim Powers,136.0,2011-05-20
4,pirates of the caribbean on stranger tides,6.350639e+08,410600000.0,241063875.0,1.045664e+09,"[12, 28, 14]","Action,Adventure,Fantasy",Rob Marshall,Terry Rossio,136.0,2011-05-20
...,...,...,...,...,...,...,...,...,...,...,...
9080,red 11,-7.000000e+03,7000.0,0.0,0.000000e+00,NaN,NaN,NaN,NaN,NaN,2018-12-31
9081,following,2.344950e+05,6000.0,48482.0,2.404950e+05,NaN,NaN,NaN,NaN,NaN,1999-04-02
9082,return to the land of wonders,-3.662000e+03,5000.0,1338.0,1.338000e+03,NaN,NaN,NaN,NaN,NaN,2005-07-13
9083,a plague so pleasant,-1.400000e+03,1400.0,0.0,0.000000e+00,NaN,NaN,NaN,NaN,NaN,2015-09-29
9084,my date with drew,1.799410e+05,1100.0,181041.0,1.810410e+05,NaN,NaN,NaN,NaN,NaN,2005-08-05

In [9]:
df['ROI'] = df['profit'] / df['prod_budget'] * 100

In [10]:
df.groupby(df['director']).median().sort_values('ROI', ascending = False).head(25)

,profit,prod_budget,dom_gross,world_gross,runtime_min,ROI
director,,,,,,
Chris Lofing,41556474.0,100000.0,22764410.0,41656474.0,81.0,41556.474000
Travis Cluff,41556474.0,100000.0,22764410.0,41656474.0,81.0,41556.474000
William Brent Bell,100759490.0,1000000.0,53262945.0,101759490.0,83.0,10075.949000
Tod Williams,174512032.0,3000000.0,84752907.0,177512032.0,91.0,5817.067733
Bradley Parker,41411721.0,1000000.0,18119640.0,42411721.0,86.0,4141.172100
Jordan Peele,242289130.5,12500000.0,175523797.5,254789130.5,110.0,3089.205285
Nitesh Tiwari,285154618.0,9500000.0,12391761.0,294654618.0,161.0,3001.627558
Henry Joost,137817992.0,5000000.0,53900335.0,142817992.0,88.0,2756.359840
Ariel Schulman,137817992.0,5000000.0,53900335.0,142817992.0,88.0,2756.359840
Jeff Wadlow,91627344.0,3500000.0,41411015.0,95127344.0,100.0,2617.924114
Josh Boone,295166834.0,12000000.0,124872350.0,307166834.0,126.0,2459.723617
Barry Jenkins,35802339.5,6750000.0,21385352.0,42552339.5,115.0,2157.596929
Dan Trachtenberg,103286422.0,5000000.0,72082999.0,108286422.0,103.0,2065.728440
Alex Kendrick,52080561.5,2500000.0,51156169.0,54580561.5,124.5,2012.567750
John R. Leonetti,130920132.5,9250000.0,49287659.0,140170132.5,94.5,1973.690886
Stiles White,98300632.0,5000000.0,50856010.0,103300632.0,89.0,1966.012640
Andy Muschietti,662457969.0,35000000.0,327481748.0,697457969.0,135.0,1892.737054
John Krasinski,317522294.0,17000000.0,188024361.0,334522294.0,90.0,1867.778200
Adam Robitel,157885588.0,10000000.0,67745330.0,167885588.0,103.0,1578.855880
Derek Cianfrance,15566240.0,1000000.0,9737892.0,16566240.0,112.0,1556.624000
Stephen Susco,15434588.0,1000000.0,8866745.0,16434588.0,92.0,1543.458800
Stephen Chbosky,284604712.0,20000000.0,132422809.0,304604712.0,113.0,1423.023560
Morten Tyldum,212740463.0,15000000.0,91125143.0,227740463.0,114.0,1418.269753
Drake Doremus,3478400.0,250000.0,3395391.0,3728400.0,86.0,1391.360000
Sam Taylor-Johnson,530998101.0,40000000.0,166167230.0,570998101.0,125.0,1327.495252

In [11]:
df.groupby(df['writer']).median().sort_values('ROI', ascending = False).head(25)

,profit,prod_budget,dom_gross,world_gross,runtime_min,ROI
writer,,,,,,
Travis Cluff,41556474.0,100000.0,22764410.0,41656474.0,81.0,41556.474000
Chris Lofing,41556474.0,100000.0,22764410.0,41656474.0,81.0,41556.474000
Matthew Peterman,100759490.0,1000000.0,53262945.0,101759490.0,83.0,10075.949000
William Brent Bell,100759490.0,1000000.0,53262945.0,101759490.0,83.0,10075.949000
Michael R. Perry,174512032.0,3000000.0,84752907.0,177512032.0,91.0,5817.067733
Tom Pabst,174512032.0,3000000.0,84752907.0,177512032.0,91.0,5817.067733
Tarell Alvin McCraney,63745512.0,1500000.0,27854931.0,65245512.0,111.0,4249.700800
Carey Van Dyke,41411721.0,1000000.0,18119640.0,42411721.0,86.0,4141.172100
Shane Van Dyke,41411721.0,1000000.0,18119640.0,42411721.0,86.0,4141.172100
Nikhil Mehrotra,285154618.0,9500000.0,12391761.0,294654618.0,161.0,3001.627558
Piyush Gupta,285154618.0,9500000.0,12391761.0,294654618.0,161.0,3001.627558
Shreyas Jain,285154618.0,9500000.0,12391761.0,294654618.0,161.0,3001.627558
Nitesh Tiwari,285154618.0,9500000.0,12391761.0,294654618.0,161.0,3001.627558
Rajshri Sudhakar,285154618.0,9500000.0,12391761.0,294654618.0,161.0,3001.627558
David F. Sandberg,143806510.0,5000000.0,67268835.0,148806510.0,81.0,2876.130200
Christopher Landon,137817992.0,5000000.0,53900335.0,142817992.0,88.0,2756.359840
Oren Peli,137817992.0,5000000.0,53900335.0,142817992.0,88.0,2756.359840
Chad Feehan,137817992.0,5000000.0,53900335.0,142817992.0,88.0,2756.359840
Michael Reisz,91627344.0,3500000.0,41411015.0,95127344.0,100.0,2617.924114
Jillian Jacobs,91627344.0,3500000.0,41411015.0,95127344.0,100.0,2617.924114
Debra Hill,244900667.0,10000000.0,159342015.0,254900667.0,106.0,2449.006670
David Gordon Green,244900667.0,10000000.0,159342015.0,254900667.0,106.0,2449.006670
Jeff Fradley,244900667.0,10000000.0,159342015.0,254900667.0,106.0,2449.006670
Andres Heinz,318266710.0,13000000.0,106954678.0,331266710.0,108.0,2448.205462
Barry Jenkins,35802339.5,6750000.0,21385352.0,42552339.5,115.0,2157.596929

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9085 entries, 0 to 9084
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         9085 non-null   object
 1   profit        9085 non-null   float64
 2   prod_budget   9085 non-null   float64
 3   dom_gross     9085 non-null   float64
 4   world_gross   9085 non-null   float64
 5   genre_ids     3965 non-null   object
 6   genres        4818 non-null   object
 7   director      4820 non-null   object
 8   writer        4798 non-null   object
 9   runtime_min   4806 non-null   float64
 10  release_date  9085 non-null   object
 11  ROI           9085 non-null   float64
dtypes: float64(6), object(6)
memory usage: 851.8+ KB

In [13]:
genre_dictionary = [{"id":28,"name":"Action"},
                              {"id":12,"name":"Adventure"},
                              {"id":16,"name":"Animation"},
                              {"id":35,"name":"Comedy"},
                              {"id":80,"name":"Crime"},
                              {"id":99,"name":"Documentary"},
                              {"id":18,"name":"Drama"},
                              {"id":10751,"name":"Family"},
                              {"id":14,"name":"Fantasy"},
                              {"id":36,"name":"History"},
                              {"id":27,"name":"Horror"},
                              {"id":10402,"name":"Music"},
                              {"id":9648,"name":"Mystery"},
                              {"id":10749,"name":"Romance"},
                              {"id":878,"name":"Science Fiction"},
                              {"id":10770,"name":"TV Movie"},
                              {"id":53,"name":"Thriller"},
                              {"id":10752,"name":"War"},
                              {"id":37,"name":"Western"}]

In [14]:
df

,title,profit,prod_budget,dom_gross,world_gross,genre_ids,genres,director,writer,runtime_min,release_date,ROI
0,avatar,2.351345e+09,425000000.0,760507625.0,2.776345e+09,"[28, 12, 14, 878]",NaN,NaN,NaN,NaN,2009-12-18,553.257713
1,pirates of the caribbean on stranger tides,6.350639e+08,410600000.0,241063875.0,1.045664e+09,"[12, 28, 14]","Action,Adventure,Fantasy",Rob Marshall,Stuart Beattie,136.0,2011-05-20,154.667286
2,pirates of the caribbean on stranger tides,6.350639e+08,410600000.0,241063875.0,1.045664e+09,"[12, 28, 14]","Action,Adventure,Fantasy",Rob Marshall,Ted Elliott,136.0,2011-05-20,154.667286
3,pirates of the caribbean on stranger tides,6.350639e+08,410600000.0,241063875.0,1.045664e+09,"[12, 28, 14]","Action,Adventure,Fantasy",Rob Marshall,Tim Powers,136.0,2011-05-20,154.667286
4,pirates of the caribbean on stranger tides,6.350639e+08,410600000.0,241063875.0,1.045664e+09,"[12, 28, 14]","Action,Adventure,Fantasy",Rob Marshall,Terry Rossio,136.0,2011-05-20,154.667286
...,...,...,...,...,...,...,...,...,...,...,...,...
9080,red 11,-7.000000e+03,7000.0,0.0,0.000000e+00,NaN,NaN,NaN,NaN,NaN,2018-12-31,-100.000000
9081,following,2.344950e+05,6000.0,48482.0,2.404950e+05,NaN,NaN,NaN,NaN,NaN,1999-04-02,3908.250000
9082,return to the land of wonders,-3.662000e+03,5000.0,1338.0,1.338000e+03,NaN,NaN,NaN,NaN,NaN,2005-07-13,-73.240000
9083,a plague so pleasant,-1.400000e+03,1400.0,0.0,0.000000e+00,NaN,NaN,NaN,NaN,NaN,2015-09-29,-100.000000
9084,my date with drew,1.799410e+05,1100.0,181041.0,1.810410e+05,NaN,NaN,NaN,NaN,NaN,2005-08-05,16358.272727

In [15]:
df.genre_ids = df.genre_ids.str.strip('\[\]').str.replace(" ", "").str.strip().str.split(',')
df = df.explode('genre_ids')
df.genre_ids = df.genre_ids.replace(r'^\s*$', np.nan, regex=True)
df.genre_ids.astype('float')
def find_genre(key):
    if key is np.nan:
        return 'None'
    for dictionary in genre_dictionary:
        if dictionary['id'] == int(key):
            return dictionary['name']
    return 'None'
df.genre_ids = df.genre_ids.apply(lambda x: find_genre(x))

In [16]:
df

,title,profit,prod_budget,dom_gross,world_gross,genre_ids,genres,director,writer,runtime_min,release_date,ROI
0,avatar,2.351345e+09,425000000.0,760507625.0,2.776345e+09,Action,NaN,NaN,NaN,NaN,2009-12-18,553.257713
0,avatar,2.351345e+09,425000000.0,760507625.0,2.776345e+09,Adventure,NaN,NaN,NaN,NaN,2009-12-18,553.257713
0,avatar,2.351345e+09,425000000.0,760507625.0,2.776345e+09,Fantasy,NaN,NaN,NaN,NaN,2009-12-18,553.257713
0,avatar,2.351345e+09,425000000.0,760507625.0,2.776345e+09,Science Fiction,NaN,NaN,NaN,NaN,2009-12-18,553.257713
1,pirates of the caribbean on stranger tides,6.350639e+08,410600000.0,241063875.0,1.045664e+09,Adventure,"Action,Adventure,Fantasy",Rob Marshall,Stuart Beattie,136.0,2011-05-20,154.667286
...,...,...,...,...,...,...,...,...,...,...,...,...
9080,red 11,-7.000000e+03,7000.0,0.0,0.000000e+00,None,NaN,NaN,NaN,NaN,2018-12-31,-100.000000
9081,following,2.344950e+05,6000.0,48482.0,2.404950e+05,None,NaN,NaN,NaN,NaN,1999-04-02,3908.250000
9082,return to the land of wonders,-3.662000e+03,5000.0,1338.0,1.338000e+03,None,NaN,NaN,NaN,NaN,2005-07-13,-73.240000
9083,a plague so pleasant,-1.400000e+03,1400.0,0.0,0.000000e+00,None,NaN,NaN,NaN,NaN,2015-09-29,-100.000000
9084,my date with drew,1.799410e+05,1100.0,181041.0,1.810410e+05,None,NaN,NaN,NaN,NaN,2005-08-05,16358.272727

In [22]:
df.groupby(df['genre_ids']).median().sort_values('ROI', ascending = False).head(25)

,profit,prod_budget,dom_gross,world_gross,runtime_min,ROI
genre_ids,,,,,,
Animation,279327887.0,100000000.0,148313048.0,378505812.0,96.0,279.112532
Comedy,51946251.0,32000000.0,48637684.0,90221182.0,97.0,211.647470
Adventure,277448265.0,132000000.0,145014057.0,402448265.0,108.0,200.916073
Fantasy,238547523.0,127000000.0,153707064.0,378505812.0,106.0,199.921813
Family,226756621.0,90000000.0,115234093.0,319713881.0,98.0,199.787315
Horror,41556474.0,10000000.0,29747603.0,62831715.0,94.0,197.081758
Mystery,37445534.0,22000000.0,31165421.0,69698495.0,106.0,192.692489
Science Fiction,191014965.0,125000000.0,100546139.0,318146162.0,120.0,179.744553
Action,119640401.0,85000000.0,76822567.0,197687603.0,113.0,178.731369
Music,23166033.0,24000000.0,38518613.0,61031932.0,106.0,172.503658
Thriller,33735965.0,27750000.0,28434818.0,63092914.5,106.0,124.284736
Romance,28498342.0,24600000.0,31611316.0,61031932.0,106.0,124.186387
War,36118378.0,50000000.0,45819713.0,71118378.0,122.0,103.195366
Drama,15765903.5,20000000.0,21134633.5,40651864.0,112.0,93.837492
Western,46778557.0,42000000.0,42720965.0,86778557.0,110.0,80.583507
Crime,23451859.0,31750000.0,26414527.0,56748258.0,111.0,70.261803
None,6146072.0,15250000.0,14400000.0,23998226.0,102.0,56.332428
History,5348205.0,30000000.0,20810036.0,36826192.0,118.0,18.596690
Documentary,-2727133.0,2900000.0,101270.0,172867.0,93.0,-94.039069

In [23]:
animation = df.loc[df['genre_ids']== 'Animation']
comedy = df.loc[df['genre_ids']== 'Comedy']
adventure = df.loc[df['genre_ids']== 'Adventure']
fantasy = df.loc[df['genre_ids']== 'Fantasy']
family = df.loc[df['genre_ids']== 'Family']
horror = df.loc[df['genre_ids']== 'Horror']
mystery = df.loc[df['genre_ids']== 'Mystery']

,title,profit,prod_budget,dom_gross,world_gross,genre_ids,genres,director,writer,runtime_min,release_date,ROI
73,tangled,326477240.0,260000000.0,200821936.0,586477240.0,Animation,"Adventure,Animation,Comedy",Byron Howard,Jacob Grimm,100.0,2010-11-24,125.568169
74,tangled,326477240.0,260000000.0,200821936.0,586477240.0,Animation,"Adventure,Animation,Comedy",Nathan Greno,Jacob Grimm,100.0,2010-11-24,125.568169
75,tangled,326477240.0,260000000.0,200821936.0,586477240.0,Animation,"Adventure,Animation,Comedy",Byron Howard,Wilhelm Grimm,100.0,2010-11-24,125.568169
76,tangled,326477240.0,260000000.0,200821936.0,586477240.0,Animation,"Adventure,Animation,Comedy",Nathan Greno,Wilhelm Grimm,100.0,2010-11-24,125.568169
77,tangled,326477240.0,260000000.0,200821936.0,586477240.0,Animation,"Adventure,Animation,Comedy",Byron Howard,Dan Fogelman,100.0,2010-11-24,125.568169
...,...,...,...,...,...,...,...,...,...,...,...,...
8282,the lion of judah,-1500000.0,1500000.0,0.0,0.0,Animation,Animation,Deryck Broom,Kurt Kelly,87.0,2011-06-03,-100.000000
8283,the lion of judah,-1500000.0,1500000.0,0.0,0.0,Animation,Animation,Roger Hawkins,William B. Schaeffler,87.0,2011-06-03,-100.000000
8284,the lion of judah,-1500000.0,1500000.0,0.0,0.0,Animation,Animation,Deryck Broom,William B. Schaeffler,87.0,2011-06-03,-100.000000
8285,the lion of judah,-1500000.0,1500000.0,0.0,0.0,Animation,Animation,Roger Hawkins,Edward James,87.0,2011-06-03,-100.000000
8286,the lion of judah,-1500000.0,1500000.0,0.0,0.0,Animation,Animation,Deryck Broom,Edward James,87.0,2011-06-03,-100.000000

In [30]:
new_df = df.groupby(['title', 'profit', 'prod_budget', 'dom_gross', 'world_gross', 'genre_ids', 'genres', 'runtime_min', 'release_date', 'ROI']).agg(tuple).applymap(list).reset_index()
new_df

,title,profit,prod_budget,dom_gross,world_gross,genre_ids,genres,runtime_min,release_date,ROI,director,writer
0,horror,-1500000.0,1500000.0,0.0,0.000000e+00,Drama,"Crime,Drama,Horror",101.0,2015-11-20,-100.000000,[Tara Subkoff],[Tara Subkoff]
1,horror,-1500000.0,1500000.0,0.0,0.000000e+00,Horror,"Crime,Drama,Horror",101.0,2015-11-20,-100.000000,[Tara Subkoff],[Tara Subkoff]
2,horror,-1500000.0,1500000.0,0.0,0.000000e+00,Mystery,"Crime,Drama,Horror",101.0,2015-11-20,-100.000000,[Tara Subkoff],[Tara Subkoff]
3,horror,-1500000.0,1500000.0,0.0,0.000000e+00,Thriller,"Crime,Drama,Horror",101.0,2015-11-20,-100.000000,[Tara Subkoff],[Tara Subkoff]
4,10 cloverfield lane,103286422.0,5000000.0,72082999.0,1.082864e+08,Drama,"Drama,Horror,Mystery",103.0,2016-03-11,2065.728440,"[Dan Trachtenberg, Dan Trachtenberg, Dan Trach...","[Josh Campbell, Matthew Stuecken, Damien Chaze..."
...,...,...,...,...,...,...,...,...,...,...,...,...
3381,zootopia,869429616.0,150000000.0,341268248.0,1.019430e+09,Adventure,"Adventure,Animation,Comedy",108.0,2016-03-04,579.619744,"[Byron Howard, Rich Moore, Jared Bush, Byron H...","[Byron Howard, Byron Howard, Byron Howard, Ric..."
3382,zootopia,869429616.0,150000000.0,341268248.0,1.019430e+09,Animation,"Adventure,Animation,Comedy",108.0,2016-03-04,579.619744,"[Byron Howard, Rich Moore, Jared Bush, Byron H...","[Byron Howard, Byron Howard, Byron Howard, Ric..."
3383,zootopia,869429616.0,150000000.0,341268248.0,1.019430e+09,Comedy,"Adventure,Animation,Comedy",108.0,2016-03-04,579.619744,"[Byron Howard, Rich Moore, Jared Bush, Byron H...","[Byron Howard, Byron Howard, Byron Howard, Ric..."
3384,zootopia,869429616.0,150000000.0,341268248.0,1.019430e+09,Family,"Adventure,Animation,Comedy",108.0,2016-03-04,579.619744,"[Byron Howard, Rich Moore, Jared Bush, Byron H...","[Byron Howard, Byron Howard, Byron Howard, Ric..."
3385,zulu,-14155772.0,16000000.0,0.0,1.844228e+06,None,"Crime,Drama,Thriller",110.0,2013-12-31,-88.473575,"[JÃ©rÃ´me Salle, JÃ©rÃ´me Salle, JÃ©rÃ´me Salle]","[Julien Rappeneau, JÃ©rÃ´me Salle, Caryl Ferey]"

In [39]:
animation = df.loc[df['genre_ids']== 'Animation']
comedy = df.loc[df['genre_ids']== 'Comedy']
adventure = df.loc[df['genre_ids']== 'Adventure']
fantasy = df.loc[df['genre_ids']== 'Fantasy']
family = df.loc[df['genre_ids']== 'Family']
horror = df.loc[df['genre_ids']== 'Horror']
mystery = df.loc[df['genre_ids']== 'Mystery']

In [53]:
animation.groupby('director').median().sort_values('ROI', ascending = False).head(20)

,profit,prod_budget,dom_gross,world_gross,runtime_min,ROI
director,,,,,,
Kyle Balda,9.597278e+08,75000000.0,264624300.0,1.034728e+09,89.0,1279.637000
Eric Guillon,9.597278e+08,75000000.0,264624300.0,1.034728e+09,89.0,1279.637000
Pierre Coffin,8.992168e+08,74500000.0,264624300.0,9.752168e+08,95.0,1183.180046
Chris Renaud,8.117505e+08,75000000.0,368065385.0,8.867505e+08,95.0,1082.334045
Yarrow Cheney,8.117505e+08,75000000.0,368384330.0,8.867505e+08,87.0,1082.334045
Steve Martino,7.847651e+08,95000000.0,161321843.0,8.797651e+08,88.0,826.068565
Garth Jennings,5.594548e+08,75000000.0,270329045.0,6.344548e+08,108.0,745.939719
Christophe Lourdelet,5.594548e+08,75000000.0,270329045.0,6.344548e+08,108.0,745.939719
Phil Lord,3.977294e+08,60000000.0,257784718.0,4.577294e+08,100.0,662.882313
Christopher Miller,3.977294e+08,60000000.0,257784718.0,4.577294e+08,100.0,662.882313
Greg Tiernan,1.223443e+08,19000000.0,97670358.0,1.413443e+08,89.0,643.917132
Will Gluck,2.971365e+08,50000000.0,115234093.0,3.471365e+08,95.0,594.272954
Jared Bush,8.694296e+08,150000000.0,341268248.0,1.019430e+09,108.0,579.619744
Byron Howard,8.694296e+08,150000000.0,341268248.0,1.019430e+09,108.0,579.619744
Brad Bird,1.042521e+09,200000000.0,608581744.0,1.242521e+09,118.0,521.260356
Aaron Horvath,4.162059e+07,10000000.0,29790236.0,5.162059e+07,84.0,416.205930
Peter Rida Michail,4.162059e+07,10000000.0,29790236.0,5.162059e+07,84.0,416.205930
Conrad Vernon,6.019213e+08,145000000.0,216391482.0,7.469213e+08,93.0,415.118118
Tom McGrath,6.019213e+08,145000000.0,216391482.0,7.469213e+08,93.0,415.118118
Angus MacLane,8.212152e+08,200000000.0,486295561.0,1.021215e+09,97.0,410.607596

In [41]:
new_df.groupby(new_df['genre_ids']).median().sort_values('ROI', ascending = False).head(25)

,profit,prod_budget,dom_gross,world_gross,runtime_min,ROI
genre_ids,,,,,,
Horror,36824066.0,10000000.0,27740955.0,52545707.0,94.0,231.669132
Animation,235977856.0,82500000.0,121440343.5,347842000.0,95.0,223.079514
Documentary,4892466.0,2000000.0,4946250.0,6049171.0,93.0,202.458550
Mystery,37036526.0,21500000.0,30566784.0,63757397.0,107.0,192.165972
Family,110859554.0,80000000.0,80360866.0,197687603.0,98.0,169.798032
Fantasy,146739418.0,100000000.0,79914137.0,235110258.0,106.5,168.456064
Adventure,181162715.5,122500000.0,100240424.5,315811939.5,111.0,168.456064
Comedy,35764245.0,29000000.0,40434012.0,69327853.0,101.0,153.019262
Science Fiction,105857460.5,89000000.0,65859802.5,213477222.0,112.5,146.361160
Music,9876855.0,18000000.0,26839498.0,33339868.0,106.0,128.700183
Action,69694743.0,61000000.0,50321631.0,136370194.0,111.0,127.267356
Thriller,28031715.0,22500000.0,26593646.0,53401938.0,106.0,124.186387
Romance,22004627.0,20000000.0,27020284.0,53068955.0,106.0,124.186387
Drama,14660323.0,19000000.0,19068240.0,36787044.0,111.0,95.342888
Crime,19535736.0,30000000.0,24077427.0,50334418.0,110.0,69.701800
History,7644196.0,25000000.0,17766658.0,35579007.0,121.0,32.094973
War,888305.0,36000000.0,23083334.0,25350747.0,120.0,12.515718
None,757768.5,13000000.0,6100878.5,16445634.5,101.0,11.288985
Western,461399.0,39000000.0,8228300.0,12082876.0,106.5,-12.315239