In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_parquet('../zippedData/merged_data.parquet')

In [3]:
df

,title,ROI,profit,prod_budget,dom_gross,world_gross,genres,director,writer,runtime_min,release_date
0,10 000 b c,156.253027,164065678,105000000,94784201,269065678,[None],[None],[None],NaN,2008-03-07
1,10 cloverfield lane,2065.728440,103286422,5000000,72082999,108286422,"[Sci-Fi, Mystery, Drama, Horror, Thriller]",[Dan Trachtenberg],"[Matthew Stuecken, Josh Campbell, Damien Chaze...",103.0,2016-03-11
2,10 days in a madhouse,-99.878200,-11985384,12000000,14616,14616,"[Drama, None]",[Timothy Hines],[Timothy Hines],111.0,2015-11-11
3,10 things i hate about you,364.722692,47413950,13000000,38177966,60413950,[None],[None],[None],NaN,1999-03-31
4,102 dalmatians,-21.245225,-18058441,85000000,66941559,66941559,[None],[None],[None],NaN,2000-11-22
...,...,...,...,...,...,...,...,...,...,...,...
5693,zootopia,579.619744,869429616,150000000,341268248,1019429616,"[Adventure, Family, Comedy, Animation]","[Rich Moore, Jared Bush, Byron Howard]","[Jared Bush, Jennifer Lee, Jim Reardon, Kellie...",108.0,2016-03-04
5694,zulu,-88.473575,-14155772,16000000,0,1844228,"[Thriller, Drama, Crime, None]",[Jérôme Salle],"[Jérôme Salle, Julien Rappeneau, Caryl Ferey]",110.0,2013-12-31
5695,zwartboek,23.810700,5238354,22000000,4398532,27238354,[None],[None],[None],NaN,2007-04-06
5696,ã l intã rieur,-70.135600,-2104068,3000000,0,895932,[None],[None],[None],NaN,2008-04-15
5697,é æ ä è cj7,136.503855,27300771,20000000,206678,47300771,[None],[None],[None],NaN,2008-03-07

In [5]:
genre = df.explode('genres')

In [10]:
genre.groupby('genres').median().sort_values('ROI', ascending = False)

,ROI,profit,prod_budget,dom_gross,world_gross,runtime_min
genres,,,,,,
Animation,187.687655,161900902.0,80000000.0,103412758.0,274392649.0,95.0
Mystery,172.828467,33359310.0,15000000.0,25514517.0,44567606.0,103.5
Sci-Fi,146.732013,86856088.0,61000000.0,59874525.0,155564919.0,112.0
Adventure,145.261623,115109838.5,90000000.0,71564221.5,210600210.5,107.0
Family,138.674683,73029117.5,60000000.0,66070876.0,136559299.5,99.0
Horror,135.800588,20768449.0,7500000.0,18494006.0,38359310.0,94.0
Fantasy,133.311758,77598620.5,80000000.0,55689394.0,147080165.5,106.5
Comedy,130.756255,29119358.0,25000000.0,34296320.0,59596747.0,101.0
Romance,123.940929,16881360.0,18000000.0,22494190.5,41781112.5,105.0
Action,116.566082,53099364.0,50000000.0,44923017.5,115419805.5,110.0
Musical,101.432801,9169626.5,15000000.0,16530209.0,31929176.5,106.0
Biography,90.366885,17317872.0,20000000.0,20157300.0,35579007.0,119.0
Thriller,89.414631,22651864.0,20000000.0,22467450.0,46844357.0,105.0
Drama,72.610250,10326292.0,15850000.0,14726565.5,26973345.0,109.0
Sport,65.625417,14678412.0,19000000.0,28812359.0,34678412.0,117.5
Crime,62.227750,12608019.0,26000000.0,21148651.0,38718031.0,107.0
None,52.643691,5238354.0,15000000.0,13854000.0,22119269.0,102.0
Documentary,46.246129,884276.0,1300000.0,433588.0,1131261.0,89.0
History,35.586291,7644196.0,25000000.0,15861566.0,35579007.0,121.5
War,12.515718,888305.0,21000000.0,9479390.0,23237252.0,120.0
Western,-57.026596,-1882229.0,36500000.0,5787911.5,9768510.5,110.0

In [8]:
director = genre.explode('director')
director

,title,ROI,profit,prod_budget,dom_gross,world_gross,genres,director,writer,runtime_min,release_date
0,10 000 b c,156.253027,164065678,105000000,94784201,269065678,None,[nan],[nan],NaN,2008-03-07
1,10 cloverfield lane,2065.728440,103286422,5000000,72082999,108286422,Thriller,['Dan Trachtenberg'],"['Josh Campbell', 'Damien Chazelle', 'Matthew ...",103.0,2016-03-11
1,10 cloverfield lane,2065.728440,103286422,5000000,72082999,108286422,Sci-Fi,['Dan Trachtenberg'],"['Josh Campbell', 'Damien Chazelle', 'Matthew ...",103.0,2016-03-11
1,10 cloverfield lane,2065.728440,103286422,5000000,72082999,108286422,Mystery,['Dan Trachtenberg'],"['Josh Campbell', 'Damien Chazelle', 'Matthew ...",103.0,2016-03-11
1,10 cloverfield lane,2065.728440,103286422,5000000,72082999,108286422,Horror,['Dan Trachtenberg'],"['Josh Campbell', 'Damien Chazelle', 'Matthew ...",103.0,2016-03-11
...,...,...,...,...,...,...,...,...,...,...,...
5694,zulu,-88.473575,-14155772,16000000,0,1844228,Drama,['Jérôme Salle'],"['Caryl Ferey', 'Jérôme Salle', 'Julien Rappen...",110.0,2013-12-31
5694,zulu,-88.473575,-14155772,16000000,0,1844228,None,['Jérôme Salle'],"['Caryl Ferey', 'Jérôme Salle', 'Julien Rappen...",110.0,2013-12-31
5695,zwartboek,23.810700,5238354,22000000,4398532,27238354,None,[nan],[nan],NaN,2007-04-06
5696,ã l intã rieur,-70.135600,-2104068,3000000,0,895932,None,[nan],[nan],NaN,2008-04-15
5697,é æ ä è cj7,136.503855,27300771,20000000,206678,47300771,None,[nan],[nan],NaN,2008-03-07

In [13]:
genre_dir = genre.explode('director')

In [50]:
animation = genre_dir.loc[genre_dir['genres']== 'Animation']
animation['ROI_diff'] = (animation['ROI'] - animation['ROI'].mean()) / animation['ROI'].mean() 
scifi = genre_dir.loc[genre_dir['genres']== 'Sci-Fi']
scifi['ROI_diff'] = (scifi['ROI'] - scifi['ROI'].mean()) / scifi['ROI'].mean() 
adventure = genre_dir.loc[genre_dir['genres']== 'Adventure']
adventure['ROI_diff'] = (adventure['ROI'] - adventure['ROI'].mean()) / adventure['ROI'].mean()
fantasy = genre_dir.loc[genre_dir['genres']== 'Fantasy']
fantasy['ROI_diff'] = (fantasy['ROI'] - fantasy['ROI'].mean()) / fantasy['ROI'].mean()
family = genre_dir.loc[genre_dir['genres']== 'Family']
family['ROI_diff'] = (family['ROI'] - family['ROI'].mean()) / family['ROI'].mean()
horror = genre_dir.loc[genre_dir['genres']== 'Horror']
horror['ROI_diff'] = (horror['ROI'] - horror['ROI'].mean()) / horror['ROI'].mean()
mystery = genre_dir.loc[genre_dir['genres']== 'Mystery']
mystery['ROI_diff'] = (mystery['ROI'] - mystery['ROI'].mean()) / mystery['ROI'].mean()

C:\Users\capta\AppData\Local\Temp\ipykernel_16432\2204360820.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  animation['ROI_diff'] = (animation['ROI'] - animation['ROI'].mean()) / animation['ROI'].mean()
C:\Users\capta\AppData\Local\Temp\ipykernel_16432\2204360820.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  scifi['ROI_diff'] = (scifi['ROI'] - scifi['ROI'].mean()) / scifi['ROI'].mean()
C:\Users\capta\AppData\Local\Temp\ipykernel_16432\2204360820.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adventure['ROI_diff'] = (adventure['ROI'] - adventure['ROI'].mean()) / adventure['ROI'].mean()
C:\Users\capta\AppData\Local\Temp\ipykernel_16432\2204360820.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fantasy['ROI_diff'] = (fantasy['ROI'] - fantasy['ROI'].mean()) / fantasy['ROI'].mean()
C:\Users\capta\AppData\Local\Temp\ipykernel_16432\2204360820.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  family['ROI_diff'] = (family['ROI'] - family['ROI'].mean()) / family['ROI'].mean()
C:\Users\capta\AppData\Local\Temp\ipykernel_16432\2204360820.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  horror['ROI_diff'] = (horror['ROI'] - horror['ROI'].mean()) / horror['ROI'].mean()
C:\Users\capta\AppData\Local\Temp\ipykernel_16432\2204360820.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mystery['ROI_diff'] = (mystery['ROI'] - mystery['ROI'].mean()) / mystery['ROI'].mean()

In [49]:
animation

,title,ROI,profit,prod_budget,dom_gross,world_gross,genres,director,writer,runtime_min,release_date,ROI_diff
279,alvin and the chipmunks chipwrecked,336.360654,269088523,80000000,133107389,349088523,Animation,Mike Mitchell,"[Glenn Berger, Jonathan Aibel, Janice Karman, ...",87.0,2011-12-16,0.129319
280,alvin and the chipmunks the road chip,177.242173,159517956,90000000,85886987,249517956,Animation,Walt Becker,"[Adam Sztykiel, Janice Karman, Ross Bagdasaria...",92.0,2015-12-18,-0.404916
356,anomalisa,-28.672900,-2293832,8000000,3759286,5706168,Animation,Charlie Kaufman,[Charlie Kaufman],90.0,2015-12-30,-1.096268
356,anomalisa,-28.672900,-2293832,8000000,3759286,5706168,Animation,Duke Johnson,[Charlie Kaufman],90.0,2015-12-30,-1.096268
403,arthur christmas,76.137793,64717124,85000000,46462469,149717124,Animation,Sarah Smith,"[Peter Baynham, Sarah Smith]",97.0,2011-11-23,-0.744370
...,...,...,...,...,...,...,...,...,...,...,...,...
5654,yogi bear,155.968362,124774690,80000000,100246011,204774690,Animation,Eric Brevig,"[Brad Copeland, Joseph Barbera, Joshua Sternin...",80.0,2010-12-17,-0.476342
5679,zambezia,72.271680,14454336,20000000,0,34454336,Animation,Wayne Thornley,"[Wayne Thornley, Raffaella Delle Donne, Nik Ra...",83.0,2012-12-31,-0.757350
5693,zootopia,579.619744,869429616,150000000,341268248,1019429616,Animation,Rich Moore,"[Jared Bush, Jennifer Lee, Jim Reardon, Kellie...",108.0,2016-03-04,0.946053
5693,zootopia,579.619744,869429616,150000000,341268248,1019429616,Animation,Jared Bush,"[Jared Bush, Jennifer Lee, Jim Reardon, Kellie...",108.0,2016-03-04,0.946053
5693,zootopia,579.619744,869429616,150000000,341268248,1019429616,Animation,Byron Howard,"[Jared Bush, Jennifer Lee, Jim Reardon, Kellie...",108.0,2016-03-04,0.946053

In [51]:
animation_dir

,ROI,profit,prod_budget,dom_gross,world_gross,runtime_min
director,,,,,,
Kyle Balda,1373.829428,1023031961.5,74500000.0,300335035.0,1097531961.5,90.0
Eric Guillon,1279.637000,959727750.0,75000000.0,264624300.0,1034727750.0,89.0
Pierre Coffin,1231.408523,929472292.5,74500000.0,300335035.0,1004972292.5,93.0
Yarrow Cheney,1082.334045,811750534.0,75000000.0,368384330.0,886750534.0,87.0
Chris Renaud,884.981931,643107553.5,75500000.0,309789685.0,715107553.5,91.0
Jennifer Lee,748.313273,1122469910.0,150000000.0,400738009.0,1272469910.0,102.0
Chris Buck,748.313273,1122469910.0,150000000.0,400738009.0,1272469910.0,102.0
Christophe Lourdelet,745.939719,559454789.0,75000000.0,270329045.0,634454789.0,108.0
Garth Jennings,745.939719,559454789.0,75000000.0,270329045.0,634454789.0,108.0
Phil Lord,662.882313,397729388.0,60000000.0,257784718.0,457729388.0,100.0
Christopher Miller,662.882313,397729388.0,60000000.0,257784718.0,457729388.0,100.0
Greg Tiernan,643.917132,122344255.0,19000000.0,97670358.0,141344255.0,89.0
Will Gluck,594.272954,297136477.0,50000000.0,115234093.0,347136477.0,95.0
Jared Bush,579.619744,869429616.0,150000000.0,341268248.0,1019429616.0,108.0
Mike Thurmeier,554.537465,540960909.5,100000000.0,112692425.5,640960909.5,91.0
Conrad Vernon,529.517625,362132763.0,82000000.0,157030920.0,444132763.0,91.0
Brad Bird,521.260356,1042520711.0,200000000.0,608581744.0,1242520711.0,118.0
Steve Martino,489.343177,467928373.5,97000000.0,145750127.0,564928373.5,88.0
Genndy Tartakovsky,486.875373,389500298.0,80000000.0,167500092.0,469500298.0,91.0
Peter Rida Michail,416.205930,41620593.0,10000000.0,29790236.0,51620593.0,84.0
Aaron Horvath,416.205930,41620593.0,10000000.0,29790236.0,51620593.0,84.0
Angus MacLane,410.607596,821215193.0,200000000.0,486295561.0,1021215193.0,97.0
Andrew Stanton,410.607596,821215193.0,200000000.0,486295561.0,1021215193.0,97.0
Lee Unkrich,395.222195,745943811.5,187500000.0,312365447.5,933443811.5,104.0
Ronnie Del Carmen,388.134853,679235992.0,175000000.0,356461711.0,854235992.0,95.0

In [30]:
animation['director'].value_counts()

Mike Mitchell         5
Pierre Coffin         4
Chris Renaud          4
Genndy Tartakovsky    3
Dean DeBlois          3
                     ..
Barrett Esposito      1
David Peers           1
Gary Eck              1
George Miller         1
Jared Bush            1
Name: director, Length: 124, dtype: int64

In [52]:
animation_dir = animation.groupby('director').median().sort_values('ROI', ascending = False).head(20)

In [31]:
scifi['director'].value_counts()

Michael Bay         3
Ridley Scott        3
Gareth Edwards      3
Francis Lawrence    3
Joe Russo           3
                   ..
Daniel Garcia       1
Rania Attieh        1
Martin Campbell     1
Alfonso Cuarón      1
Matthew Vaughn      1
Name: director, Length: 159, dtype: int64

In [53]:
scifi_dir = scifi.groupby('director').median().sort_values('ROI', ascending = False).head(20)
scifi_dir

,ROI,profit,prod_budget,dom_gross,world_gross,runtime_min,ROI_diff
director,,,,,,,
Dan Trachtenberg,2065.728440,103286422.0,5000000.0,72082999.0,108286422.0,103.0,7.655836
John Krasinski,1867.778200,317522294.0,17000000.0,188024361.0,334522294.0,90.0,6.826383
James DeMonaco,1112.211863,105524804.0,9500000.0,75302495.0,115024804.0,105.5,3.660401
Gerard McMurray,950.902346,123617305.0,13000000.0,69488745.0,136617305.0,98.0,2.984480
Gary Ross,747.404224,597923379.0,80000000.0,408010692.0,677923379.0,142.0,2.131781
Scott Stewart,691.546029,24204111.0,3500000.0,17418667.0,27704111.0,97.0,1.897723
J.A. Bayona,668.101646,1135772799.0,170000000.0,417719760.0,1305772799.0,128.0,1.799486
David Gelb,667.186200,33359310.0,5000000.0,25801570.0,38359310.0,83.0,1.795650
Wes Ball,666.797518,281943011.5,47500000.0,92062527.0,329443011.5,122.0,1.794022
Ruben Fleischer,635.886728,737628605.0,116000000.0,213511408.0,853628605.0,112.0,1.664499
M. Night Shyamalan,609.989403,173401585.0,75000000.0,85778551.0,248401585.0,114.5,1.555984
Colin Strause,582.649730,58264973.0,10000000.0,21416355.0,68264973.0,92.0,1.441425
Greg Strause,582.649730,58264973.0,10000000.0,21416355.0,68264973.0,92.0,1.441425
Colin Trevorrow,578.275820,718763591.0,107875000.0,328140791.0,826638591.0,105.0,1.423097
Ryan Coogler,574.129112,1148258224.0,200000000.0,700059566.0,1348258224.0,134.0,1.405722
Mike Cahill,543.413950,890089.0,587500.0,828833.0,1477589.0,99.0,1.277019
Ryan Fleck,541.749457,948061550.0,175000000.0,426525952.0,1123061550.0,123.0,1.270044
Anna Boden,541.749457,948061550.0,175000000.0,426525952.0,1123061550.0,123.0,1.270044
Luc Besson,531.634263,226303066.0,110000000.0,83526665.0,336303066.0,113.0,1.227659
Alfonso Cuarón,530.635157,583698673.0,110000000.0,274092705.0,693698673.0,91.0,1.223473

In [34]:
adventure.director.value_counts()

Zack Snyder            5
Mike Mitchell          5
Ridley Scott           4
Guy Ritchie            4
Francis Lawrence       3
                      ..
Justin Tipping         1
Gary McKendry          1
Jordan Vogt-Roberts    1
Alessandro Carloni     1
Jared Bush             1
Name: director, Length: 339, dtype: int64

In [54]:
adventure_dir = adventure.groupby('director').median().sort_values('ROI', ascending = False).head(20)
adventure_dir

,ROI,profit,prod_budget,dom_gross,world_gross,runtime_min,ROI_diff
director,,,,,,,
Kyle Balda,1373.829428,1023031961.5,74500000.0,300335035.0,1097531961.5,90.0,5.199685
Tim Miller,1281.078609,743025593.0,58000000.0,363070709.0,801025593.0,108.0,4.781128
Pierre Coffin,1279.637000,959727750.0,75000000.0,336045770.0,1034727750.0,91.0,4.774622
Eric Guillon,1279.637000,959727750.0,75000000.0,264624300.0,1034727750.0,89.0,4.774622
Benh Zeitlin,1192.507333,21465132.0,1800000.0,12795746.0,23265132.0,93.0,4.381432
Yarrow Cheney,1082.334045,811750534.0,75000000.0,368384330.0,886750534.0,87.0,3.884252
Chris Renaud,1082.334045,811750534.0,76000000.0,368065385.0,886750534.0,87.0,3.884252
Jake Kasdan,971.662437,874496193.0,90000000.0,404508916.0,964496193.0,119.0,3.384824
David Slade,938.386512,638102828.0,68000000.0,300531751.0,706102828.0,124.0,3.234660
Chris Buck,748.313273,1122469910.0,150000000.0,400738009.0,1272469910.0,102.0,2.376916
Jennifer Lee,748.313273,1122469910.0,150000000.0,400738009.0,1272469910.0,102.0,2.376916
Gary Ross,747.404224,597923379.0,80000000.0,408010692.0,677923379.0,142.0,2.372814
John Erick Dowdle,736.481320,36824066.0,5000000.0,21222315.0,41824066.0,93.0,2.323522
Genndy Tartakovsky,710.892249,462079962.0,65000000.0,167500092.0,527079962.0,97.0,2.208046
J.A. Bayona,668.101646,1135772799.0,170000000.0,417719760.0,1305772799.0,128.0,2.014945
Colin Trevorrow,666.909239,1433854864.0,215000000.0,652270625.0,1648854864.0,124.0,2.009564
Phil Lord,662.882313,397729388.0,60000000.0,257784718.0,457729388.0,100.0,1.991391
Christopher Miller,662.882313,397729388.0,60000000.0,257784718.0,457729388.0,100.0,1.991391
Greg Tiernan,643.917132,122344255.0,19000000.0,97670358.0,141344255.0,89.0,1.905807
Ethan Coen,620.791223,217276928.0,35000000.0,171243005.0,252276928.0,110.0,1.801447

In [38]:
fantasy.director.value_counts()

Zack Snyder            5
Bryan Singer           3
Peter Jackson          3
Mike Mitchell          3
Rob Marshall           3
                      ..
Guy Ritchie            1
Jordan Vogt-Roberts    1
Vic Armstrong          1
Brian Helgeland        1
David Gordon Green     1
Name: director, Length: 184, dtype: int64

In [55]:
fantasy_dir = fantasy.groupby('director').median().sort_values('ROI', ascending = False).head(20)
fantasy_dir

,ROI,profit,prod_budget,dom_gross,world_gross,runtime_min,ROI_diff
director,,,,,,,
David Lowery,2669.782000,2669782.0,100000.0,1594798.0,2769782.0,92.0,10.865252
Michael Tiddes,1363.536922,37314709.5,3250000.0,28685585.0,40564709.5,86.0,5.059936
Benh Zeitlin,1192.507333,21465132.0,1800000.0,12795746.0,23265132.0,93.0,4.299833
Peter Spierig,1167.944000,40878040.0,3500000.0,25091816.0,44378040.0,99.0,4.190667
Michael Spierig,1167.944000,40878040.0,3500000.0,25091816.0,44378040.0,99.0,4.190667
Seth MacFarlane,1012.033254,506016627.0,50000000.0,218665740.0,556016627.0,106.0,3.497756
Jake Kasdan,971.662437,874496193.0,90000000.0,404508916.0,964496193.0,119.0,3.318337
David Slade,938.386512,638102828.0,68000000.0,300531751.0,706102828.0,124.0,3.170450
James Watkins,759.705987,113955898.0,15000000.0,54333290.0,128955898.0,95.0,2.376344
Gary Ross,747.404224,597923379.0,80000000.0,408010692.0,677923379.0,142.0,2.321672
Christopher Miller,662.882313,397729388.0,60000000.0,257784718.0,457729388.0,100.0,1.946033
Phil Lord,662.882313,397729388.0,60000000.0,257784718.0,457729388.0,100.0,1.946033
Richard Curtis,644.243150,77309178.0,12000000.0,15323921.0,89309178.0,123.0,1.863195
Conrad Vernon,643.917132,122344255.0,19000000.0,97670358.0,141344255.0,89.0,1.861746
Greg Tiernan,643.917132,122344255.0,19000000.0,97670358.0,141344255.0,89.0,1.861746
James Wan,616.809150,986894640.0,160000000.0,335061807.0,1146894640.0,143.0,1.741271
R.J. Cutler,612.328818,67356170.0,11000000.0,50474843.0,78356170.0,107.0,1.721359
Joe Russo,582.711400,1748134200.0,300000000.0,678815482.0,2048134200.0,149.0,1.589731
Anthony Russo,582.711400,1748134200.0,300000000.0,678815482.0,2048134200.0,149.0,1.589731
Ryan Coogler,574.129112,1148258224.0,200000000.0,700059566.0,1348258224.0,134.0,1.551589

In [40]:
family.director.value_counts()

Pierre Coffin         4
Tim Burton            3
Rich Moore            3
Carlos Saldanha       3
Andy Fickman          3
                     ..
Wajahat Rauf          1
Anthony Silverston    1
Travis Knight         1
Alessandro Carloni    1
Jared Bush            1
Name: director, Length: 188, dtype: int64

In [56]:
family_dir = family.groupby('director').median().sort_values('ROI', ascending = False).head(20)
family_dir

,ROI,profit,prod_budget,dom_gross,world_gross,runtime_min,ROI_diff
director,,,,,,,
Stephen Chbosky,1423.023560,284604712.0,20000000.0,132422809.0,304604712.0,113.0,4.741781
Kyle Balda,1373.829428,1023031961.5,74500000.0,300335035.0,1097531961.5,90.0,4.543287
Eric Guillon,1279.637000,959727750.0,75000000.0,264624300.0,1034727750.0,89.0,4.163228
Pierre Coffin,1231.408523,929472292.5,74500000.0,300335035.0,1004972292.5,93.0,3.968631
Andrew Erwin,1122.917443,78604221.0,7000000.0,83482352.0,85604221.0,110.0,3.530878
Jon Erwin,1122.917443,78604221.0,7000000.0,83482352.0,85604221.0,110.0,3.530878
Yarrow Cheney,1082.334045,811750534.0,75000000.0,368384330.0,886750534.0,87.0,3.367127
Chris Renaud,1082.334045,811750534.0,75000000.0,368065385.0,886750534.0,95.0,3.367127
Steve Martino,826.068565,784765137.0,95000000.0,161321843.0,879765137.0,88.0,2.333118
Harald Zwart,779.437345,311774938.0,40000000.0,176591618.0,351774938.0,140.0,2.144965
Christophe Lourdelet,745.939719,559454789.0,75000000.0,270329045.0,634454789.0,108.0,2.009804
Garth Jennings,745.939719,559454789.0,75000000.0,270329045.0,634454789.0,108.0,2.009804
Bill Condon,686.999816,1099199706.0,160000000.0,504014165.0,1259199706.0,129.0,1.771987
Christopher Miller,662.882313,397729388.0,60000000.0,257784718.0,457729388.0,100.0,1.674675
Phil Lord,662.882313,397729388.0,60000000.0,257784718.0,457729388.0,100.0,1.674675
Jared Bush,579.619744,869429616.0,150000000.0,341268248.0,1019429616.0,108.0,1.338717
Mike Thurmeier,554.537465,540960909.5,100000000.0,112692425.5,640960909.5,91.0,1.237512
Patricia Riggen,467.682585,60798736.0,13000000.0,61705123.0,73798736.0,109.0,0.887060
Kenneth Branagh,462.685635,439551353.0,95000000.0,201151353.0,534551353.0,105.0,0.866898
Jon Favreau,450.202598,787854547.0,175000000.0,364001123.0,962854547.0,106.0,0.816530

In [45]:
horror.director.value_counts()

Christopher Landon    4
Scott Stewart         3
James DeMonaco        3
Kevin Smith           3
Mike Flanagan         3
                     ..
Steven R. Monroe      1
Brad Peyton           1
Leigh Whannell        1
Adam Robitel          1
K. King               1
Name: director, Length: 191, dtype: int64

In [57]:
horror_dir = horror.groupby('director').median().sort_values('ROI', ascending = False).head(20)
horror_dir

,ROI,profit,prod_budget,dom_gross,world_gross,runtime_min,ROI_diff
director,,,,,,,
Travis Cluff,41556.474000,41556474.0,100000.0,22764410.0,41656474.0,81.0,44.357149
Chris Lofing,41556.474000,41556474.0,100000.0,22764410.0,41656474.0,81.0,44.357149
Tod Williams,5817.067733,174512032.0,3000000.0,84752907.0,177512032.0,91.0,5.349085
William Brent Bell,5329.079260,79490221.0,5500000.0,44541250.5,84990221.0,90.0,4.816467
Bradley Parker,4141.172100,41411721.0,1000000.0,18119640.0,42411721.0,86.0,3.519916
Ariel Schulman,3398.578360,169928918.0,5000000.0,78964571.0,174928918.0,85.5,2.709406
Henry Joost,3398.578360,169928918.0,5000000.0,78964571.0,174928918.0,85.5,2.709406
Jordan Peele,3089.205285,242289130.5,12500000.0,175523797.5,254789130.5,110.0,2.371738
Jeff Wadlow,2617.924114,91627344.0,3500000.0,41411015.0,95127344.0,100.0,1.857354
David F. Sandberg,2406.014650,217095687.5,10000000.0,84680518.0,227095687.5,95.0,1.626064
James Wan,2314.215503,227460828.0,12500000.0,110493294.0,239960828.0,109.0,1.525869
Dan Trachtenberg,2065.728440,103286422.0,5000000.0,72082999.0,108286422.0,103.0,1.254656
John R. Leonetti,1973.690886,130920132.5,9250000.0,49287659.0,140170132.5,94.5,1.154201
Stiles White,1966.012640,98300632.0,5000000.0,50856010.0,103300632.0,89.0,1.145820
M. Night Shyamalan,1873.556320,93677816.0,5000000.0,65206105.0,98677816.0,94.0,1.044908
John Krasinski,1867.778200,317522294.0,17000000.0,188024361.0,334522294.0,90.0,1.038602
Marcus Nispel,1859.168000,464792.0,25000.0,0.0,489792.0,91.0,1.029204
Daniel Stamm,1849.647178,32206726.0,2900000.0,20521742.0,35106726.0,90.0,1.018812
Adam Robitel,1578.855880,157885588.0,10000000.0,67745330.0,167885588.0,103.0,0.723255
Stephen Susco,1543.458800,15434588.0,1000000.0,8866745.0,16434588.0,92.0,0.684621

In [47]:
mystery.director.value_counts()

Denis Villeneuve      4
Christopher Landon    3
Jaume Collet-Serra    3
Henry Joost           3
Ariel Schulman        3
                     ..
Steven Quale          1
Marcus Nispel         1
Martin Campbell       1
Jim Sheridan          1
Debra Granik          1
Name: director, Length: 155, dtype: int64

In [58]:
mystery_dir = mystery.groupby('director').median().sort_values('ROI', ascending = False).head(20)
mystery_dir

,ROI,profit,prod_budget,dom_gross,world_gross,runtime_min,ROI_diff
director,,,,,,,
Chris Lofing,41556.474000,41556474.0,100000.0,22764410.0,41656474.0,81.0,45.573018
Travis Cluff,41556.474000,41556474.0,100000.0,22764410.0,41656474.0,81.0,45.573018
Bradley Parker,4141.172100,41411721.0,1000000.0,18119640.0,42411721.0,86.0,3.641079
John R. Leonetti,3851.737231,250362920.0,6500000.0,84273813.0,256862920.0,99.0,3.316705
Jordan Peele,3089.205285,242289130.5,12500000.0,175523797.5,254789130.5,110.0,2.462123
Ariel Schulman,2756.359840,137817992.0,5000000.0,53900335.0,142817992.0,88.0,2.089097
Henry Joost,2756.359840,137817992.0,5000000.0,53900335.0,142817992.0,88.0,2.089097
David F. Sandberg,2406.014650,217095687.5,10000000.0,84680518.0,227095687.5,95.0,1.696460
James Wan,2314.215503,227460828.0,12500000.0,110493294.0,239960828.0,109.0,1.593579
Dan Trachtenberg,2065.728440,103286422.0,5000000.0,72082999.0,108286422.0,103.0,1.315096
Stiles White,1966.012640,98300632.0,5000000.0,50856010.0,103300632.0,89.0,1.203342
M. Night Shyamalan,1873.556320,93677816.0,5000000.0,65206105.0,98677816.0,94.0,1.099725
Marcus Nispel,1859.168000,464792.0,25000.0,0.0,489792.0,91.0,1.083600
Christopher Landon,1718.097080,85904854.0,5000000.0,32462372.0,90904854.0,96.0,0.925499
Adam Robitel,1578.855880,157885588.0,10000000.0,67745330.0,167885588.0,103.0,0.769450
Stephen Susco,1543.458800,15434588.0,1000000.0,8866745.0,16434588.0,92.0,0.729779
Scott Derrickson,1508.724480,71342212.5,16500000.0,39332012.5,87842212.5,114.0,0.690852
Leigh Whannell,1104.531550,110453155.0,10000000.0,52218558.0,120453155.0,97.0,0.237867
Michael Spierig,1046.197980,66661618.0,6750000.0,31572324.0,73411618.0,95.5,0.172491
Peter Spierig,1046.197980,66661618.0,6750000.0,31572324.0,73411618.0,95.5,0.172491

In [10]:
genre.groupby(genre['writer']).median().sort_values('ROI', ascending = False).head(20)

,ROI,profit,prod_budget,dom_gross,world_gross,runtime_min
writer,,,,,,
"['Travis Cluff', 'Chris Lofing']",41556.474000,41556474.0,100000.0,22764410.0,41656474.0,81.0
"['William Brent Bell', 'Matthew Peterman']",10075.949000,100759490.0,1000000.0,53262945.0,101759490.0,83.0
"['Tom Pabst', 'Christopher Landon', 'Oren Peli', 'Michael R. Perry']",5817.067733,174512032.0,3000000.0,84752907.0,177512032.0,91.0
"['Barry Jenkins', 'Tarell Alvin McCraney']",4249.700800,63745512.0,1500000.0,27854931.0,65245512.0,111.0
"['Shane Van Dyke', 'Oren Peli', 'Carey Van Dyke']",4141.172100,41411721.0,1000000.0,18119640.0,42411721.0,86.0
"['Andrew Gurland', 'Huck Botko']",3798.105556,68365900.0,1800000.0,41034350.0,70165900.0,87.0
"['James Wan', 'Leigh Whannell']",3138.430300,156921515.0,5000000.0,83586447.0,161921515.0,106.0
"['Shreyas Jain', 'Nitesh Tiwari', 'Nikhil Mehrotra', 'Piyush Gupta', 'Rajshri Sudhakar']",3001.627558,285154618.0,9500000.0,12391761.0,294654618.0,161.0
['Gary Dauberman'],2893.818165,270373892.5,10750000.0,93183007.0,281123892.5,104.0
"['Christopher Landon', 'Oren Peli']",2879.446980,143972349.0,5000000.0,68245589.5,148972349.0,83.5
"['Eric Heisserer', 'David F. Sandberg']",2876.130200,143806510.0,5000000.0,67268835.0,148806510.0,81.0
"['Christopher Landon', 'Oren Peli', 'Chad Feehan']",2756.359840,137817992.0,5000000.0,53900335.0,142817992.0,88.0
"['Jillian Jacobs', 'Jeff Wadlow', 'Christopher Roach', 'Michael Reisz']",2617.924114,91627344.0,3500000.0,41411015.0,95127344.0,100.0
"['John J. McLaughlin', 'Mark Heyman', 'Andres Heinz']",2448.205462,318266710.0,13000000.0,106954678.0,331266710.0,108.0
['Scott Lobdell'],2400.205200,120010260.0,5000000.0,55683845.0,125010260.0,96.0
"['Stephen Kendrick', 'Alex Kendrick']",2365.841300,70975239.0,3000000.0,67790117.0,73975239.0,120.0
"['Josh Campbell', 'Damien Chazelle', 'Matthew Stuecken']",2065.728440,103286422.0,5000000.0,72082999.0,108286422.0,103.0
['Damien Chazelle'],2031.755815,406351163.0,20000000.0,151101803.0,426351163.0,128.0
"['Stiles White', 'Juliet Snowden']",1966.012640,98300632.0,5000000.0,50856010.0,103300632.0,89.0
"['Gary Dauberman', 'Cary Joji Fukunaga', 'Stephen King', 'Chase Palmer']",1892.737054,662457969.0,35000000.0,327481748.0,697457969.0,135.0
"['Scott Beck', 'John Krasinski', 'Bryan Woods']",1867.778200,317522294.0,17000000.0,188024361.0,334522294.0,90.0
"['Kirsten Elms', 'Marcus Nispel']",1859.168000,464792.0,25000.0,0.0,489792.0,91.0
['Ryan Coogler'],1849.960556,16649645.0,900000.0,16098998.0,17549645.0,85.0
"['C. Robert Cargill', 'Scott Derrickson']",1632.651242,64416016.0,6500000.0,37913929.0,70916016.0,103.5
"['Joey Curtis', 'Cami Delavigne', 'Derek Cianfrance']",1556.624000,15566240.0,1000000.0,9737892.0,16566240.0,112.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9085 entries, 0 to 9084
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         9085 non-null   object
 1   profit        9085 non-null   float64
 2   prod_budget   9085 non-null   float64
 3   dom_gross     9085 non-null   float64
 4   world_gross   9085 non-null   float64
 5   genre_ids     3965 non-null   object
 6   genres        4818 non-null   object
 7   director      4820 non-null   object
 8   writer        4798 non-null   object
 9   runtime_min   4806 non-null   float64
 10  release_date  9085 non-null   object
 11  ROI           9085 non-null   float64
dtypes: float64(6), object(6)
memory usage: 851.8+ KB

In [13]:
genre_dictionary = [{"id":28,"name":"Action"},
                              {"id":12,"name":"Adventure"},
                              {"id":16,"name":"Animation"},
                              {"id":35,"name":"Comedy"},
                              {"id":80,"name":"Crime"},
                              {"id":99,"name":"Documentary"},
                              {"id":18,"name":"Drama"},
                              {"id":10751,"name":"Family"},
                              {"id":14,"name":"Fantasy"},
                              {"id":36,"name":"History"},
                              {"id":27,"name":"Horror"},
                              {"id":10402,"name":"Music"},
                              {"id":9648,"name":"Mystery"},
                              {"id":10749,"name":"Romance"},
                              {"id":878,"name":"Science Fiction"},
                              {"id":10770,"name":"TV Movie"},
                              {"id":53,"name":"Thriller"},
                              {"id":10752,"name":"War"},
                              {"id":37,"name":"Western"}]

In [17]:
# df.genres = df.genres.str.strip('\[\]').str.replace(" ", "").str.strip().str.split(',')
# df = df.explode('genres')
# df.genres = df.genres.replace(r'^\s*$', np.nan, regex=True)
# #df.genres.astype('float')
# def find_genre(key):
#     if key is np.nan:
#         return 'None'
#     for dictionary in genre_dictionary:
#         if dictionary['id'] == int(key):
#             return dictionary['name']
#     return 'None'
# df.genres = df.genres.apply(lambda x: find_genre(x))

In [37]:
test.groupby(['genres']).median().sort_values('ROI', ascending = False).head(25)

,ROI,profit,prod_budget,dom_gross,world_gross,runtime_min
genres,,,,,,
Animation,187.687655,161900902.0,80000000.0,103412758.0,274392649.0,95.0
Sci-Fi,174.245308,120796009.0,75000000.0,73058679.0,219535492.0,112.0
Mystery,172.828467,33359310.0,15000000.0,25514517.0,44567606.0,103.5
Science Fiction,145.898193,86856088.0,68000000.0,60128566.0,167910690.0,113.0
Adventure,145.261623,115109838.5,90000000.0,71564221.5,210600210.5,107.0
Family,138.674683,73029117.5,60000000.0,66070876.0,136559299.5,99.0
Horror,135.800588,20768449.0,7500000.0,18494006.0,38359310.0,94.0
Fantasy,133.311758,77598620.5,80000000.0,55689394.0,147080165.5,106.5
Comedy,130.756255,29119358.0,25000000.0,34296320.0,59596747.0,101.0
Romance,123.940929,16881360.0,18000000.0,22494190.5,41781112.5,105.0
Action,116.566082,53099364.0,50000000.0,44923017.5,115419805.5,110.0
Music,108.838957,9876855.0,17000000.0,20218921.0,32700439.0,107.0
Biography,90.366885,17317872.0,20000000.0,20157300.0,35579007.0,119.0
Thriller,89.414631,22651864.0,20000000.0,22467450.0,46844357.0,105.0
Drama,72.610250,10326292.0,15850000.0,14726565.5,26973345.0,109.0
Sport,65.625417,14678412.0,19000000.0,28812359.0,34678412.0,117.5
Crime,62.227750,12608019.0,26000000.0,21148651.0,38718031.0,107.0
None,52.643691,5238354.0,15000000.0,13854000.0,22119269.0,102.0
Documentary,46.246129,884276.0,1300000.0,433588.0,1131261.0,89.0
History,35.586291,7644196.0,25000000.0,15861566.0,35579007.0,121.5
War,12.515718,888305.0,21000000.0,9479390.0,23237252.0,120.0
Musical,-51.657495,-1498782.0,10150000.0,2179636.0,25679636.0,105.5
Western,-57.026596,-1882229.0,36500000.0,5787911.5,9768510.5,110.0

In [30]:
new_df = df.groupby(['title', 'profit', 'prod_budget', 'dom_gross', 'world_gross', 'genre_ids', 'genres', 'runtime_min', 'release_date', 'ROI']).agg(tuple).applymap(list).reset_index()
new_df

,title,profit,prod_budget,dom_gross,world_gross,genre_ids,genres,runtime_min,release_date,ROI,director,writer
0,horror,-1500000.0,1500000.0,0.0,0.000000e+00,Drama,"Crime,Drama,Horror",101.0,2015-11-20,-100.000000,[Tara Subkoff],[Tara Subkoff]
1,horror,-1500000.0,1500000.0,0.0,0.000000e+00,Horror,"Crime,Drama,Horror",101.0,2015-11-20,-100.000000,[Tara Subkoff],[Tara Subkoff]
2,horror,-1500000.0,1500000.0,0.0,0.000000e+00,Mystery,"Crime,Drama,Horror",101.0,2015-11-20,-100.000000,[Tara Subkoff],[Tara Subkoff]
3,horror,-1500000.0,1500000.0,0.0,0.000000e+00,Thriller,"Crime,Drama,Horror",101.0,2015-11-20,-100.000000,[Tara Subkoff],[Tara Subkoff]
4,10 cloverfield lane,103286422.0,5000000.0,72082999.0,1.082864e+08,Drama,"Drama,Horror,Mystery",103.0,2016-03-11,2065.728440,"[Dan Trachtenberg, Dan Trachtenberg, Dan Trach...","[Josh Campbell, Matthew Stuecken, Damien Chaze..."
...,...,...,...,...,...,...,...,...,...,...,...,...
3381,zootopia,869429616.0,150000000.0,341268248.0,1.019430e+09,Adventure,"Adventure,Animation,Comedy",108.0,2016-03-04,579.619744,"[Byron Howard, Rich Moore, Jared Bush, Byron H...","[Byron Howard, Byron Howard, Byron Howard, Ric..."
3382,zootopia,869429616.0,150000000.0,341268248.0,1.019430e+09,Animation,"Adventure,Animation,Comedy",108.0,2016-03-04,579.619744,"[Byron Howard, Rich Moore, Jared Bush, Byron H...","[Byron Howard, Byron Howard, Byron Howard, Ric..."
3383,zootopia,869429616.0,150000000.0,341268248.0,1.019430e+09,Comedy,"Adventure,Animation,Comedy",108.0,2016-03-04,579.619744,"[Byron Howard, Rich Moore, Jared Bush, Byron H...","[Byron Howard, Byron Howard, Byron Howard, Ric..."
3384,zootopia,869429616.0,150000000.0,341268248.0,1.019430e+09,Family,"Adventure,Animation,Comedy",108.0,2016-03-04,579.619744,"[Byron Howard, Rich Moore, Jared Bush, Byron H...","[Byron Howard, Byron Howard, Byron Howard, Ric..."
3385,zulu,-14155772.0,16000000.0,0.0,1.844228e+06,None,"Crime,Drama,Thriller",110.0,2013-12-31,-88.473575,"[Jérôme Salle, Jérôme Salle, Jérôme Salle]","[Julien Rappeneau, Jérôme Salle, Caryl Ferey]"